doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title= title || 'Page name'

        // Styles::Start
        include _loadCss
        // Styles::End

        // Yandex Map
        if yandexMap == true
            script(src="https://api-maps.yandex.ru/2.1/?apikey=d1a36780-d46a-4793-9513-b450eb044841&lang=ru_RU")

    body(class= bodyClass ? bodyClass : '')

        #page

            // Header::Start
            block header
                include _header
            // Header::End

            // Main::Start
            main#main
                block main
            // Main::End

            // Footer::Start
            block footer
                include _footer
            // Footer::End

        // Scripts::Start
        include _loadScripts
        // Scripts::End

        // Popup-1::Start
        .popup-form#popup-form

            .popup-form__title Заполните форму и мы свяжемся с вами в ближайшее время

            .form
                form(action="/")

                    .p-form__container

                        .p-form__main

                            .p-form-row
                                .input-style
                                    input(type="text" placeholder="Имя" autocomplete="off")

                            .p-form-row
                                .input-style
                                    input(type="tel" placeholder="Телефон" autocomplete="off")

                            .textarea-style
                                textarea(type="text" placeholder="Комментарий")

                            button.button-style.button-style--black.wpcf7-form-control.wpcf7-submit(type="submit" tabindex="0") Оставить заявку

                            .agreement Нажимая на кнопку “отправить заявку”, вы соглашаетесь на обработку <a href="#">персональных данных</a>
        // Popup-1::End

        // Popup-2::Start
        .popup-form#popup-callback

            .popup-form__title Заказать звонок

            .form
                form(action="/")

                    .p-form__container

                        .p-form__main

                            .p-form-row
                                .input-style
                                    input(type="text" placeholder="Имя" autocomplete="off")

                            .p-form-row
                                .input-style
                                    input(type="tel" placeholder="Телефон *" autocomplete="off")

                            button.button-style.button-style--black.wpcf7-form-control.wpcf7-submit(type="submit" tabindex="0") Отправить

                            .agreement Нажимая на кнопку “отправить заявку”, вы соглашаетесь на обработку <a href="#">персональных данных</a>
        // Popup-2::End

        // Popup SUCCESS::Start
        #popup-success.popup-success
            .popup-form__title Спасибо!
            .popup-form__subtitle Ваша заявка оставлена
        // Popup SUCCESS::End

        // Popup ERROR::Start
        #popup-error.popup-error
            .popup-form__title Ошибка
            .popup-form__subtitle Что-то пошло не так

            .popup-contacts
                .popup-contacts-title Свяжитесь с нами
                .popup-contacts-label Телефон
                a.popup-contacts-phone(href="tel:+7 (495) 198 08 92") +7 (495) 198 08 92
                .popup-contacts-label e-mail
                a.popup-contacts-mail(href="mailto:info@ivdconsult.ru") info@ivdconsult.ru
        // Popup ERROR::End