---
title: IVD | О компании
---

extends includes/_page

block main

    .about-page

        include components/_hero
        +hero('close-up-scientist-holding-glassware.jpg', 'О компании', 'О компании')

        
        section.about-info

            .container

                .about__block

                    .about__block-left
        
                        p ООО «ИВД Консалтинг» - компания, оказывающая широкий спектр услуг в сфере обращения медицинских изделий для диагностики in vitro.
                          br
                          br
                          |Медицинские изделия для лабораторной диагностики – наше ключевое направление, мы глубоко разбираемся в особенностях данных медицинских изделий и всегда качественно делаем работу с заботой об интересах наших клиентов.
                          br
                          br
                          |У нас выстроились долгосрочные и доверительные отношения с ведущими производителями и поставщиками медицинских изделий для лабораторной диагностики.

                    .about__block-right

                        .about__clients
                            .about__block-title
                                p Клиенты
                            
                            .swiper
                                .swiper-wrapper
                                    .about__clients-item.swiper-slide
                                        img(src="assets/images/image-15.svg", alt="img")
                                    .about__clients-item.swiper-slide
                                        img(src="assets/images/image-16.svg", alt="img")
                                    .about__clients-item.swiper-slide
                                        img(src="assets/images/image-15.svg", alt="img")
                                    .about__clients-item.swiper-slide
                                        img(src="assets/images/image-16.svg", alt="img")
                                
                                .swiper-navigation
                                    .swiper-nav.swiper-nav-prev
                                    .swiper-nav.swiper-nav-next

                        .about__reviews
                            .about__block-title
                                p Отзывы
                                a(href="reviews.html") Все отзывы

                            .swiper
                                .swiper-wrapper
                                    .about__reviews-item.swiper-slide
                                        img(src="assets/images/image-18.jpg", alt="img")
                                    .about__reviews-item.swiper-slide
                                        img(src="assets/images/image-18.jpg", alt="img")
                                    .about__reviews-item.swiper-slide
                                        img(src="assets/images/image-18.jpg", alt="img")
                                    .about__reviews-item.swiper-slide
                                        img(src="assets/images/image-18.jpg", alt="img")

                                .swiper-navigation
                                    .swiper-nav.swiper-nav-prev
                                    .swiper-nav.swiper-nav-next

        section.about-features

            .container

                .a-features

                    .a-features-row
                        .a-features__title
                            span 01
                            p Профессиональный подход к делу
                        .a-features__text Находим оптимальные решения задач любой сложности при регистрации медицинских изделий для диагностики in vitro. Учитываем особенности государственного контроля за обращением медицинских изделий на этапе подготовки к регистрации медицинского изделия

                    .a-features-row
                        .a-features__title
                            span 02
                            p Устойчивое развитие
                        .a-features__text Мы постоянно следим за всеми новшествами законодательства и развиваем новые компетенции

                    .a-features-row
                        .a-features__title
                            span 03
                            p Опыт и партнерство
                        .a-features__text Наличие большого числа успешно выполненных работ дает нам возможность выстраивать долгосрочные партнерские отношения с нашими клиентами
                        
        section.about-goals(style="background-image: url(assets/images/doctor-performing-medical-research-lab.jpg)")

            .container

                .goals-content

                    h4 Наша миссия
                    p Помогать отечественным и зарубежным производителям выводить медицинские изделия на рынки РФ и ЕАЭС. Преобразовать трудоемкий процесс регистрации медицинских изделий для диагностики in vitro в понятные и последовательные действия для наших клиентов, сокращая временные и финансовые издержки.
                    br
                    h4 Наша команда
                    p Специалисты с профильным высшим техническим, фармацевтическим и медицинским образованием, многолетним опытом работы в испытательных лабораториях, медицинских и экспертных организациях, компетенциями в области регистрации.

        section.about-requisites

            .container

                .requisites

                    .requisites__title Реквизиты организации
                    .requisites__content
                        p ООО «ИВД Консалтинг»
                        p <b>ОГРН</b> 1187746489336
                        p <b>ИНН</b> 9718101918
                        p <b>Юридический адрес:</b> 109004, г. Москва, вн. тер. г. Муниципальный округ Таганский, пер Тетеринский., д 12, стр. 2, помещ. III, ком. 2