---
title: IVD | Открытая статья
---

extends includes/_page

block main

    .article-detail

        include components/_hero
        +hero('article-hero.png', '', 'Открытая статья')

        section.article-detail__page

            .container

                .article-detail-wrapper

                    .article-detail__badge Новости

                    .page-title
                        h1 Подписан протокол о продлении приема документов по национальным процедурам до 31.12.2025

                    .article-detail__date 14.02.2023

                    .article-detail__img
                        img(src="assets/images/art-det-img.png", alt="")

                    .article-detail__content 

                        .article-detail__content-left 

                            p Lorem ipsum dolor sit amet consectetur. Facilisis a a faucibus sed vulputate in diam blandit odio. Amet morbi pellentesque vitae dignissim sit aenean felis facilisis id. Suspendisse gravida vulputate pretium gravida penatibus vel odio arcu amet. Commodo consectetur venenatis egestas urna in sem est eu donec. Tincidunt adipiscing est nunc neque. Ligula mi urna dui dictum nullam morbi vitae. Nisi porttitor elementum senectus in pharetra varius in. Aliquet pellentesque cursus viverra arcu eu vestibulum velit facilisis. Mi enim platea eget malesuada.

                            h2 Подзаголовок h2

                            h3 Подзаголовок h3

                            p Lorem ipsum dolor sit amet consectetur. Facilisis a a faucibus sed vulputate in diam blandit odio. Amet morbi важное в тексте dignissim sit aenean felis facilisis id. Suspendisse gravida vulputate pretium gravida penatibus vel odio arcu amet. Commodo consectetur venenatis egestas urna in sem est eu donec. Tincidunt adipiscing est nunc neque. Ligula mi urna dui dictum nullam morbi vitae. Nisi porttitor elementum senectus in pharetra varius in. Aliquet pellentesque cursus viverra arcu eu vestibulum velit facilisis. Mi enim platea eget malesuada.

                            h4 Подзаголовок h4

                            p <a>Ссылка в тексте</a> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, maxime nemo expedita dolore culpa sit quod a cumque praesentium incidunt eos tempore ab minima quis numquam nisi et libero non. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis minima numquam vel quidem alias nemo, obcaecati consectetur animi, iste temporibus pariatur asperiores, consequatur omnis ex illo laboriosam deserunt voluptas rerum.

                            ol 
                                li Ligula mi urna dui dictum nullam morbi vitae. Nisi porttitor elementum senectus in pharetra varius in
                                li Ligula mi urna dui dictum nullam morbi vitae. Nisi porttitor elementum senectus in pharetra varius in
                                li Ligula mi urna dui dictum nullam morbi vitae. Nisi porttitor elementum senectus in pharetra varius in

                            h4 Подзаголовок h4

                            ul 
                                li Ligula mi urna dui dictum nullam morbi vitae. Nisi porttitor elementum senectus in pharetra varius in
                                li Ligula mi urna dui dictum nullam morbi vitae. Nisi porttitor elementum senectus in pharetra varius in
                                li Ligula mi urna dui dictum nullam morbi vitae. Nisi porttitor elementum senectus in pharetra varius in

                            .article-detail__important Какая-то важная информация, которую нужно выделить

                            blockquote.article-detail__blockquote

                                .article-detail__blockquote-text Ligula mi urna dui dictum nullam morbi vitae. Nisi porttitor elementum senectus in pharetra varius in. Aliquet pellentesque cursus viverra arcu eu vestibulum velit facilisis. Mi enim platea eget malesuada.

                                .article-detail__blockquote-author Пушкин А.С. 

                            .table
                                .table__header.table__row
                                    .table__col Текст
                                    .table__col Текст
                                    .table__col Текст
                                    .table__col Текст
                                    .table__col Текст
                                    .table__col Текст

                                .table__body

                                    .table__row
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст

                                    .table__row
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст

                                    .table__row
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст

                                    .table__row
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст
                                        .table__col Текст

                                    
                        .article-detail__content-right 

                            .article-detail__author
                                .article-detail__author-img
                                    img(src="assets/images/author-logo.png", alt="")
                                .article-detail__author-content
                                    .article-detail__author-name Александр Александров
                                    .article-detail__author-desc Специалист по консалтингу в области регистрации медицинских изделий для дигностики invitro

                            .article-detail__nav 

                                .article-detail__nav-title Содержание

                                .article-detail__nav-ul-wrapper

                                    .article-detail__nav-ul
                                        a Заголовок темы

                                    .article-detail__nav-li 
                                        a Заголовок подтемы
                                    
                                    .article-detail__nav-li 
                                        a Заголовок подтемы

                                    .article-detail__nav-li 
                                        a Заголовок подтемы

                                    .article-detail__nav-ul
                                        a Заголовок темы

                            .article-detail__note
                                .article-detail__note-img
                                    img(src="assets/images/note-img.png", alt="")
                                .article-detail__note-title Название примечания
                                .article-detail__note-text Краткое описание. Ссылка на какую-то другую статью, для большего раскрытия темы, в данном месте статьи. Или ссылка на какие-то исследования.

        section.article-detail__inners

            .container 

                .article-detail__inners-wrapper 

                    .article-detail__inner
                        .article-detail__inner-img
                            img(src="assets/images/art-det-img.png", alt="")
                            .article-detail__inner-tag Новости
                        .article-detail__inner-date 14.02.2023
                        .article-detail__inner-title Подписан протокол о продлении приема документов по национальным процедурам до 31.12.2025
                        .article-detail__inner-desc 14 февраля 2023 г. на сайте Евразийской Экономической Комиссии появилась новость о продлении возможности регистрации медицинских изделий по национальным правилам.…

                    .article-detail__inner
                        .article-detail__inner-img
                            img(src="assets/images/art-det-img.png", alt="")
                            .article-detail__inner-tag На заметку
                        .article-detail__inner-date 14.02.2023
                        .article-detail__inner-title О возобновлении приема документов 
                        .article-detail__inner-desc 17 января 2023 г. наши сотрудники связались с Росздравнадзором. 

                    .article-detail__inner
                        .article-detail__inner-img
                            img(src="assets/images/art-det-img.png", alt="")
                            .article-detail__inner-tag Новости
                        .article-detail__inner-date 14.02.2023
                        .article-detail__inner-title „Важно не количество знаний, а качество их. Можно знать очень многое, не зная самого нужного“ Лев Николаевич Толстой, великий русский…
                        .article-detail__inner-desc 17 января 2023 г. наши сотрудники связались с Росздравнадзором. 

