---
title: IVD | Полезные материалы
---

extends includes/_page

block main

    .blog-page

        include components/_hero
        +hero('blog-hero.png', 'Полезные материалы', 'Полезные материалы')

        section.blog-list-page-wrapper

            .container

                .blog-list-page

                    .blog-list__items-wrapper 

                        .blog__list-items 

                            .article-detail__inner
                                .article-detail__inner-img
                                    img(src="assets/images/art-det-img.png", alt="")
                                    .article-detail__inner-tag Новости
                                .article-detail__inner-date 14.02.2023
                                .article-detail__inner-title Подписан протокол о продлении приема документов по национальным процедурам до 31.12.2025
                                .article-detail__inner-desc 14 февраля 2023 г. на сайте Евразийской Экономической Комиссии появилась новость о продлении возможности регистрации медицинских изделий по национальным правилам.…

                            .article-detail__inner
                                .article-detail__inner-img
                                    img(src="assets/images/art-det-img.png", alt="")
                                    .article-detail__inner-tag На заметку
                                .article-detail__inner-date 14.02.2023
                                .article-detail__inner-title О возобновлении приема документов 
                                .article-detail__inner-desc 17 января 2023 г. наши сотрудники связались с Росздравнадзором. 


                            .article-detail__inner
                                .article-detail__inner-img
                                    img(src="assets/images/art-det-img.png", alt="")
                                    .article-detail__inner-tag Новости
                                .article-detail__inner-date 14.02.2023
                                .article-detail__inner-title Подписан протокол о продлении приема документов по национальным процедурам до 31.12.2025
                                .article-detail__inner-desc 14 февраля 2023 г. на сайте Евразийской Экономической Комиссии появилась новость о продлении возможности регистрации медицинских изделий по национальным правилам.…

                            .article-detail__inner
                                .article-detail__inner-img
                                    img(src="assets/images/art-det-img.png", alt="")
                                    .article-detail__inner-tag На заметку
                                .article-detail__inner-date 14.02.2023
                                .article-detail__inner-title О возобновлении приема документов 
                                .article-detail__inner-desc 17 января 2023 г. наши сотрудники связались с Росздравнадзором. 

                            .article-detail__inner
                                .article-detail__inner-img
                                    img(src="assets/images/art-det-img.png", alt="")
                                    .article-detail__inner-tag Новости
                                .article-detail__inner-date 14.02.2023
                                .article-detail__inner-title Подписан протокол о продлении приема документов по национальным процедурам до 31.12.2025
                                .article-detail__inner-desc 14 февраля 2023 г. на сайте Евразийской Экономической Комиссии появилась новость о продлении возможности регистрации медицинских изделий по национальным правилам.…

                            .article-detail__inner
                                .article-detail__inner-img
                                    img(src="assets/images/art-det-img.png", alt="")
                                    .article-detail__inner-tag На заметку
                                .article-detail__inner-date 14.02.2023
                                .article-detail__inner-title О возобновлении приема документов 
                                .article-detail__inner-desc 17 января 2023 г. наши сотрудники связались с Росздравнадзором. 


                            .article-detail__inner
                                .article-detail__inner-img
                                    img(src="assets/images/art-det-img.png", alt="")
                                    .article-detail__inner-tag Новости
                                .article-detail__inner-date 14.02.2023
                                .article-detail__inner-title Подписан протокол о продлении приема документов по национальным процедурам до 31.12.2025
                                .article-detail__inner-desc 14 февраля 2023 г. на сайте Евразийской Экономической Комиссии появилась новость о продлении возможности регистрации медицинских изделий по национальным правилам.…

                            .article-detail__inner
                                .article-detail__inner-img
                                    img(src="assets/images/art-det-img.png", alt="")
                                    .article-detail__inner-tag На заметку
                                .article-detail__inner-date 14.02.2023
                                .article-detail__inner-title О возобновлении приема документов 
                                .article-detail__inner-desc 17 января 2023 г. наши сотрудники связались с Росздравнадзором. 

                        .blog__list-pagination Загрузить ещё

                    .blog-page__sidebar

                        .blog-page__filter 

                            .blog-page__filter-title Рубрики

                            .blog-page__filter-items 

                                .blog-page__filter-item Новости

                                .blog-page__filter-item Полезное

                        .blog-page__filter 

                            .blog-page__filter-title Поиск по темам

                            .blog-page__filter-items 

                                .blog-page__filter-item Регистрационное удостоверение

                                .blog-page__filter-item Нормативные документы

                                .blog-page__filter-item Испытание МИ

                                .blog-page__filter-item Заявление на регистрацию