---
title: IVD | Контакты
yandexMap: true
---

extends includes/_page

block main

    .contacts-page

        include components/_hero
        +hero('business-hand-with-mobile-phone.jpg', 'Контакты')

        section.section-page

            .container

                .contacts

                    .contacts__block

                        .contacts__block-item
                            span Телефон
                            a(href="tel:+7 (495) 198 08 92") +7 (495) 198 08 92

                        .contacts__block-item
                            span e-mail
                            a(href="mailto:info@ivdconsult.ru") info@ivdconsult.ru
                        
                        .contacts__block-item
                            span Адрес
                            p Москва, Тетеринский переулок, дом 12, стр. 2, офис 211

                    .contacts__map
                        #map(style="width: 100%; height: 100%;")

