---
title: IVD | Главная
---

extends includes/_page

block main

    section.hero-slider

        .hero__slider

            .swiper

                .swiper-wrapper

                    .hero__slide.swiper-slide(style="background-image:url(assets/images/scientific-with-closeup-light-microscope-blurred-laboratory.jpg)")
                        .container
                            h1.hero__title.main-title In Vitro Diagnostic&nbsp;Consulting
                            p.hero__text Регистрация медицинских изделий для диагностики in vitro
                            .hero__btn.button-style.button-style--black(href="#popup-form" data-fancybox) Заказать консультацию

                    .hero__slide.swiper-slide(style="background-image:url(assets/images/scientific-with-closeup-light-microscope-blurred-laboratory.jpg)")
                        .container
                            h2.hero__title.main-title In Vitro Diagnostic&nbsp;Consulting
                            p.hero__text Регистрация медицинских изделий для диагностики in vitro
                            .hero__btn.button-style.button-style--black(href="#popup-form" data-fancybox) Заказать консультацию

                    .hero__slide.swiper-slide(style="background-image:url(assets/images/scientific-with-closeup-light-microscope-blurred-laboratory.jpg)")
                        .container
                            h2.hero__title.main-title In Vitro Diagnostic&nbsp;Consulting
                            p.hero__text Регистрация медицинских изделий для диагностики in vitro
                            .hero__btn.button-style.button-style--black(href="#popup-form" data-fancybox) Заказать консультацию

                    .hero__slide.swiper-slide(style="background-image:url(assets/images/scientific-with-closeup-light-microscope-blurred-laboratory.jpg)")
                        .container
                            h2.hero__title.main-title In Vitro Diagnostic&nbsp;Consulting
                            p.hero__text Регистрация медицинских изделий для диагностики in vitro
                            .hero__btn.button-style.button-style--black(href="#popup-form" data-fancybox) Заказать консультацию

            .slider-pagination

            .slider-arrows
                .hero__arrow.hero__arrow--prev
                    img(src="assets/images/arrow-left.svg", alt="icon")
                .hero__arrow.hero__arrow--next
                    img(src="assets/images/arrow-right.svg", alt="icon")

    section.section-services

        .container

            .services__title.section-title Услуги
            
            .services

                .services__main

                    .services__main-top
                        .services__main-icon
                            img(src="assets/images/002-notes.svg", alt="icon")
                        .services__main-title Регистрация медицинских изделий для диагностики in vitro
                    
                    .services__main-desc Сопровождение на всех этапах регистрации МИ до получения регистрационного удостоверения

                    ul.services__main-list
                        li Выбор процедуры регистрации<br>(национальные правила или правила ЕАЭС)
                        li Подготовка заявления о регистрации МИ
                        li Подготовка технической и эксплуатационной документации
                        li Организация необходимых испытаний и исследований
                        li Сопровождение процедуры регистрации в Росздравнадзоре

                .services__other
                    .services__other-title Другие услуги
                    ul.services__other-list
                        li
                            .services__other-list-icon
                                img(src="assets/images/001-microscope.svg", alt="icon")
                            a(href="#") Организация технических испытаний
                        li
                            .services__other-list-icon
                                img(src="assets/images/identify.svg", alt="icon")
                            a(href="#") Организация токсикологических исследований
                        li
                            .services__other-list-icon
                                img(src="assets/images/005-dropper.svg", alt="icon")
                            a(href="#") Организация клинических испытаний
                        li
                            .services__other-list-icon
                                img(src="assets/images/004-clipboard.svg", alt="icon")
                            a(href="#") Проверка технической и эксплуатационной документации
                        li
                            .services__other-list-icon
                                img(src="assets/images/consultation.svg", alt="icon")
                            a(href="#") Консультации по вопросам обращения МИ в России и ЕАЭС

    section.section-about(style="background-image: url(assets/images/team-medical-personal-wearing-ppe-suit-doing-coronavirus-analysis-modern-laboratory-chemist-researcher-during-global-pandemic-with-covid-19-checking-sample-biochemistry-lab.jpg)")

        .container

            .s-about
            
                .s-about__title.section-title О компании

                .s-about__content
                    p ООО «ИВД Консалтинг» - компания, оказывающая услуги в сфере обращения медицинских изделий для диагностики in vitro.
                        br
                        br
                        | Медицинские изделия для лабораторной диагностики – наше ключевое направление, мы глубоко разбираемся в особенностях данных медицинских изделий и всегда качественно делаем работу с заботой об интересах наших клиентов.

                    a.button-style.button-style--transparent(href="#") Подробнее
