---
title: IVD | Отзывы
---

extends includes/_page

block main

    .reviews-page

        include components/_hero
        +hero('reviews-hero.png', 'Отзывы', 'Отзывы')

        section.reviews-page-items 

            .container 

                .reviews-page__items

                    .reviews__item(data-fancybox="reviews" data-src="https://f-jurist.ru/upload/iblock/876/ucqg6nzraqulhooc0p0vzo6c2yygwjcv.jpg" ) 
                        .reviews__item-img
                            img(src="https://f-jurist.ru/upload/iblock/876/ucqg6nzraqulhooc0p0vzo6c2yygwjcv.jpg", alt="")

                    .reviews__item(data-fancybox="reviews" data-src="assets/images/rev1.png" data-group="reviews") 
                        .reviews__item-img
                            img(src="assets/images/rev1.png", alt="")

                    .reviews__item(data-fancybox="reviews" data-src="assets/images/rev1.png" data-group="reviews") 
                        .reviews__item-img
                            img(src="assets/images/rev1.png", alt="")

                    .reviews__item(data-fancybox="reviews" data-src="https://f-jurist.ru/upload/iblock/6e9/2v7iov4siqiv1pvkvlzo2d5vpnxdiij8.jpg" ) 
                        .reviews__item-img
                            img(src="https://f-jurist.ru/upload/iblock/6e9/2v7iov4siqiv1pvkvlzo2d5vpnxdiij8.jpg", alt="")

                    .reviews__item(data-fancybox="reviews" data-src="assets/images/rev1.png" ) 
                        .reviews__item-img
                            img(src="assets/images/rev1.png", alt="")

                    .reviews__item(data-fancybox="reviews" data-src="assets/images/rev1.png" ) 
                        .reviews__item-img
                            img(src="assets/images/rev1.png", alt="")

        section.reviews-clients 

            .container

                .article-detail__inners-title Наши клиенты

                .reviews-clients__items 

                    .reviews-clients__item
                        .reviews-clients__item-img
                            img(src="assets/images/image-15.svg", alt="")

                    .reviews-clients__item
                        .reviews-clients__item-img
                            img(src="assets/images/image-16.svg", alt="")

                    .reviews-clients__item
                        .reviews-clients__item-img
                            img(src="assets/images/re11.png", alt="")

                    .reviews-clients__item
                        .reviews-clients__item-img
                            img(src="assets/images/re12.png", alt="")
