---
title: IVD | Регистрация медицинских изделий для диагностики in vitro
---

extends includes/_page

block main

    .services-inner-page

        include components/_hero
        +hero('science-laboratory-test-tubes-laboratory-equipment.jpg', 'Регистрация медицинских изделий для диагностики in vitro', 'Услуги', 'Регистрация медицинских изделий для диагностики in vitro')

        section.section-page

            .container
        
                .services-inner

                    .services-inner__aside

                        .aside__title Все услуги

                        ul.aside__list
                            li.active
                                .aside__list-icon
                                    img(src="assets/images/001-microscope.svg", alt="icon")
                                a(href="#") Регистрация медицинских изделий для диагностики in vitro
                            li
                                .aside__list-icon
                                    img(src="assets/images/identify.svg", alt="icon")
                                a(href="#") Организация технических испытаний
                            li
                                .aside__list-icon
                                    img(src="assets/images/005-dropper.svg", alt="icon")
                                a(href="#") Организация токсикологических исследований
                            li
                                .aside__list-icon
                                    img(src="assets/images/004-clipboard.svg", alt="icon")
                                a(href="#") Организация клинических испытаний
                            li
                                .aside__list-icon
                                    img(src="assets/images/consultation.svg", alt="icon")
                                a(href="#") Проверка технической и эксплуатационной документации
                            li
                                .aside__list-icon
                                    img(src="assets/images/004-clipboard.svg", alt="icon")
                                a(href="#") Консультации по вопросам обращения МИ в России и ЕАЭС

                    .services-inner__content

                        .section-title Этапы работы по регистрации медицинского изделия для диагностики in vitro
                        