---
title: IVD | Регистрация медицинских изделий для диагностики in vitro
---

extends includes/_page

block main

    .services-inner-page

        include components/_hero
        +hero('science-laboratory-test-tubes-laboratory-equipment.jpg', 'Регистрация медицинских изделий для диагностики in vitro', 'Услуги', 'Регистрация медицинских изделий для диагностики in vitro')

        section.section-page

            .container
        
                .services-inner

                    .services-inner__aside

                        .aside__title Все услуги

                        ul.aside__list

                            li.active
                                .aside__list-icon
                                    img(src="assets/images/notes-blue.svg", alt="icon")
                                a(href="#") Регистрация медицинских изделий для диагностики in vitro
                            li
                                .aside__list-icon
                                    img(src="assets/images/001-microscope.svg", alt="icon")
                                a(href="#") Организация технических испытаний
                            li
                                .aside__list-icon
                                    img(src="assets/images/identify.svg", alt="icon")
                                a(href="#") Организация токсикологических исследований
                            li
                                .aside__list-icon
                                    img(src="assets/images/005-dropper.svg", alt="icon")
                                a(href="#") Организация клинических испытаний
                            li
                                .aside__list-icon
                                    img(src="assets/images/004-clipboard.svg", alt="icon")
                                a(href="#") Проверка технической и эксплуатационной документации
                            li
                                .aside__list-icon
                                    img(src="assets/images/consultation.svg", alt="icon")
                                a(href="#") Консультации по вопросам обращения МИ в России и ЕАЭС

                            
                            .aside__list-icon-mob
                                img(src="assets/images/chevron-bottom.svg", alt="icon")

                    .services-inner__content

                        .services-inner__title.section-title Этапы работы по регистрации медицинского изделия для диагностики in vitro
                        
                        ul
                            li
                                h4 Выбор процедуры для регистрации МИ
                                p Регистрация по национальным правилам (Постановления Правительства РФ № 1416, 430, 552) или правилам ЕАЭС.
                                  br
                                  br
                                  |Проконсультируем как правильно зарегистрировать МИ для соблюдения законодательства в сфере обращения МИ.
                            li
                                h4 Подготовка заявления о регистрации МИ
                                p Согласование наименования, назначения, вариантов исполнения и состава МИ, определение вида номенклатурной классификации.
                                  br
                                  br
                                  |Важно правильно составить заявление о регистрации МИ на начальном этапе, так как информация из заявления содержится во всех документах регистрационного досье (техническая и эксплуатационная документация, протоколы технических испытаний, токсикологических исследований, клинико-лабораторных испытаний).
                            li
                                h4 Подготовка технической и эксплуатационной документации
                                p Подготовка всех необходимых документов для регистрации отечественного или зарубежного МИ.
                                  br
                                  br
                                  |Поможем разобраться в нормативных требованиях / стандартах, какие требования обязательны к применению и какие могут применяться на усмотрение производителя.
                            li
                                h4 Проведение необходимых испытаний и исследований
                                p Подберем организацию для проведения испытаний, составим и согласуем программу. Сопровождение на всех этапах испытания МИ до получения документов от испытательной организации.
                            li
                                h4 Сопровождение процедуры регистрации в Росздравнадзоре
                                p Подготовим регистрационное досье с учетом действующих требований. Поможем корректно ответить на запросы о предоставлении дополнительных материалов и сведений.

                        .services__block-info
                            h4 Консультационная поддержка
                            p В процессе регистрации МИ окажем консультационную помощь по любым вопросам, связанным с обращением МИ в РФ (оформление уведомления о ввозе, маркировка МИ, приобретение необходимых контрольных материалов и др.)